<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>受講生詳細</title>
</head>
<body>
<h1>受講生詳細</h1>

<form th:action="@{/updateStudent}" th:object="${studentDetail}" method="post">
  <!-- hidden ID -->
  <input type="hidden" th:field="*{student.id}" />

  <div>
    <label for="name">名前:</label>
    <input type="text" id="name" th:field="*{student.name}" required />
  </div>
  <div>
    <label for="kana_name">カナ名:</label>
    <input type="text" id="kana_name" th:field="*{student.kanaName}" required />
  </div>
  <div>
    <label for="nickName">ニックネーム:</label>
    <input type="text" id="nickName" th:field="*{student.nickname}" required />
  </div>
  <div>
    <label for="email">メールアドレス:</label>
    <input type="text" id="email" th:field="*{student.email}" required />
  </div>
  <div>
    <label for="area">地域:</label>
    <input type="text" id="area" th:field="*{student.area}" required />
  </div>
  <div>
    <label for="age">年齢:</label>
    <input type="number" id="age" th:field="*{student.age}" required />
  </div>
  <div>
    <label>性別:</label>
    <label for="male">
      <input type="radio" id="male" th:field="*{student.sex}" value="男" /> 男
    </label>
    <label for="female">
      <input type="radio" id="female" th:field="*{student.sex}" value="女" /> 女
    </label>
    <label for="others">
      <input type="radio" id="others" th:field="*{student.sex}" value="その他" /> その他
    </label>
  </div>
  <div>
    <label for="remark">備考:</label>
    <input type="text" id="remark" th:field="*{student.remark}" required />
  </div>
  <div>
    <label for="iDeleted">キャンセル:</label>
    <input type="hidden" name="student.i_deleted" value="false"/>
    <input type="checkbox" id="iDeleted" name="student.i_deleted" value="true"/>
  </div>
  <div>
    <label for="studentCourseId">受講コースID</label>
    <input type="text" id="studentCourseId" th:field="*{courses[0].id}" />
    <label for="course_name">受講コース名:</label>
    <input type="hidden" th:field="*{courses[0].studentId}" />
    <select id="course_name" th:field="*{courses[0].courseName}">
      <option value="">選択してください</option>
      <option th:each="name : ${courseNames}"
              th:value="${name}"
              th:text="${#strings.replace(name, 'Course', 'コース')}">
      </option>
    </select>
  </div>
  <div>
    <button type="submit">更新</button>
  </div>
</form>

</body>
</html>
