<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="raisetech.StudentManagement.mapper.StudentMapper">

  <resultMap id="studentResultMap"
    type="raisetech.StudentManagement.data.Student">
    <id property="id" column="id"/>
    <result property="name" column="name"/>
    <result property="kanaName" column="kana_name"/>
    <result property="nickname" column="nickname"/>
    <result property="email" column="email"/>
    <result property="area" column="area"/>
    <result property="age" column="age"/>
    <result property="sex" column="sex"/>
    <result property="remark" column="remark"/>
  </resultMap>

  <select id="searchAll" resultMap="studentResultMap">
    SELECT * FROM students
  </select>

  <select id="searchById"
    parameterType="java.lang.String"
    resultMap="studentResultMap">
    SELECT * FROM students WHERE id = #{value}
  </select>

  <select id="searchStudentCourse"
    resultType="raisetech.StudentManagement.data.StudentCourse">

    SELECT
    sc.id,
    sc.student_id,
    sc.course_name,
    sc.course_start_at,
    sc.course_end_at,
    sas.application_status AS status
    FROM students_courses sc
    LEFT JOIN students_application_status sas
    ON sc.id = sas.course_id
    WHERE sc.student_id = #{studentId}

  </select>



  <select id="searchByCondition"
    parameterType="raisetech.StudentManagement.data.StudentSearchCondition"
    resultMap="studentResultMap">
    SELECT *
    FROM students
    <where>
      <if test="name != null and name != ''">
        AND name LIKE CONCAT('%', #{name}, '%')
      </if>
    </where>
  </select>

  <insert id="insertStudent"
    parameterType="raisetech.StudentManagement.data.Student"
    useGeneratedKeys="true"
    keyProperty="id">
    INSERT INTO students (
    name,
    kana_name,
    nickname,
    email,
    area,
    age,
    sex,
    remark
    )
    VALUES (
    #{name},
    #{kanaName},
    #{nickname},
    #{email},
    #{area},
    #{age},
    #{sex},
    #{remark}
    )
  </insert>

  <insert id="insertCourse"
    parameterType="raisetech.StudentManagement.data.StudentCourse">
    INSERT INTO students_courses (
    student_id,
    course_name,
    course_start_at,
    course_end_at
    )
    VALUES (
    #{studentId},
    #{courseName},
    #{courseStartAt},
    #{courseEndAt}
    )
  </insert>

  <update id="updateStudent"
    parameterType="raisetech.StudentManagement.data.Student">

    UPDATE students
    SET
    name = #{name},
    kana_name = #{kanaName},
    nickname = #{nickname},
    email = #{email},
    area = #{area},
    age = #{age},
    sex = #{sex},
    remark = #{remark}
    WHERE id = #{id}

  </update>

  <delete id="deleteStudent">
    DELETE FROM students
    WHERE id = #{id}
  </delete>

  <insert id="insertApplicationStatus">
    INSERT INTO students_application_status (course_id, application_status)
    VALUES (#{courseId}, #{status})
  </insert>

  <select id="search"
    parameterType="raisetech.StudentManagement.data.StudentSearchCondition"
    resultMap="studentResultMap">

    SELECT *
    FROM students
    <where>

      <if test="id != null and id != ''">
        AND id = #{id}
      </if>


      <if test="name != null and name != ''">
        AND name LIKE CONCAT('%', #{name}, '%')
      </if>

      <if test="email != null and email != ''">
        AND email LIKE CONCAT('%', #{email}, '%')
      </if>

      <if test="area != null and area != ''">
        AND area LIKE CONCAT('%', #{area}, '%')
      </if>

      <if test="gender != null and gender != ''">
        AND sex = #{gender}
      </if>

    </where>
  </select>

</mapper>